{{ $customCss := resources.Get "css/custom.css" | minify | fingerprint }}
<link href="{{ $customCss.RelPermalink }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ if (findRE "<script" .Content 1) }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{ end }}
{{ if (findRE "<pre" .Content 1) }}
    {{ $syntaxDark := resources.Get "css/syntax_dark.css" | minify | fingerprint }}
    {{ $syntaxLight := resources.Get "css/syntax_light.css" | minify | fingerprint }}
    <style media="screen">
        @media (prefers-color-scheme: dark) {
            {{ $syntaxDark.Content | safeCSS }}
        }
        @media (prefers-color-scheme: light) {
            {{ $syntaxLight.Content | safeCSS }}
        }
    </style>
    {{ $copyCss := resources.Get "css/copy_code.css" | minify | fingerprint }}
    <link href="{{ $copyCss.RelPermalink }}" rel="stylesheet">
{{ end }}