{{/* Ratio */}}
{{ if or (eq (index .Params 1) "widescreen") (not (index .Params 1) ) }}
    {{ $.Scratch.Add "ratio" 56.25 }}
{{ else if eq (index .Params 1) "standard" }}
    {{ $.Scratch.Add "ratio" 75 }}
{{ else }}
    {{ $nums := split (index .Params 1) ":" }}
    {{ $.Scratch.Add "ratio" (div (mul (int (index $nums 1)) 100.0) (int (index $nums 0))) }}
{{ end }}
{{/* General Size */}}
{{ if or (eq (index .Params 2) "small") (not (index .Params 1) ) }}
    {{ $.Scratch.Add "max-width" "240px" }}
{{ else if or (eq (index .Params 2) "medium") (not (index .Params 1) ) }}
    {{ $.Scratch.Add "max-width" "480px" }}
{{ else }}
    {{ $.Scratch.Add "max-width" "800px" }}
{{ end }}
<div style="max-width: {{ $.Scratch.Get "max-width" }}">
    <div style="position: relative; padding-bottom: {{ $.Scratch.Get "ratio" }}%; overflow: hidden; ">
        <iframe style="position: absolute; width: 100%; height: 100%;"
                src="https://www.youtube.com/embed/{{ index .Params 0 }}" allowfullscreen>
        </iframe>
    </div>
</div>
